<form action="/regNumbers" method="POST">
    <div class="regbox">
        <h1>Registration Number:</h1>

        <div class="regTypes">

            <input type="text" name="name" value="" placeholder="Enter Registration Number" class="regText">

        </div>
<div><button class="button regBtn" on type="submit" name="button">Add</button></div>
</form>


    


<h2>Select Town:</h2>

<form action="/regNumbers" method="GET">
			<select class="select" name="opt">
				<option value="default">Select Town</option>
				<option value='5' name="Cape Town">Cape Town</option>
				<option value='7' name="Bellville">Bellville</option>
				<option value='6' name="Malmesbury">Malmesbury</option>
				<option value='All' name="All">Show All</option>
			</select>
			<input type="submit">
			</form>
      
      <br>
    {{#each reg}}

    <li id="regDisplay" class="color">{{this.reg}}</li>

    {{/each}}

<p class="error"> {{messages.info}}</p>
<p>
<p class="msg"> {{messages.msg}}</p>


    </div>

