<form action="/regNumbers" method="POST">
    <div class="regbox">
        <h1>Registration Number:</h1>

        <div class="regTypes">

            <input type="text" name="name" value="" placeholder="Enter Registration Number" class="regText">

            <p class="msg"> {{messages.msg}}</p>

<button class="button regBtn" on type="submit" name="button">Add</button>
        </div>
</form>


    


<h2>Filter:</h2>

<form action="/regNumbers" method="GET">
			<select class="select" name="opt">
				<option value="default">Select Town</option>
				<option value='1' name="Cape Town">Cape Town</option>
				<option value='3' name="Bellville">Bellville</option>
				<option value='2' name="Malmesbury">Malmesbury</option>
				<option value='All' name="All">Show All</option>
			</select>
			<input type="submit" class="subbtn" value="Filter">
			</form>
      
      <br>
    {{#each reg}}

    <li id="regDisplay" class="color">{{this.reg}}</li>

    {{/each}}

<p class="error"> {{messages.info}}</p>

<p class="msg"> {{messages.msg}}</p>


    </div>

