.regbox {
    padding: 0.75em;
    border-radius: 0.5em;
    border: 3px solid #ddd;
    border-color:black;
    height: auto;
    padding: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 3em;
}

body {

    position: relative;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    background-color: silver;

}

input[type=text]{
    min-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.regBtn, .filterBtn {
     
    background-color: black;
    font-size: 20px;
    color: white;
    background-size: 30px;
    box-sizing: border-box
    

    
}

.regNumbers {
    
    background-color: yellow;
    border-radius: 1em;
    

}

li{
    list-style-type: none;
    padding: 7px;
    background-color: rgb(231, 231, 22);
    border: 0.1em solid black;
    border-radius: 10px;
    margin: 0.5em;
    max-width: fit-content;
}